.myself img{
    width: 180px;
    height: 200px;
    border: 12px solid gray;
}
.git{ 
    width: 140px;
    height: 140px;
    display: inline-block;
    align-items: center;
    margin-left: 45%;
    background-image: url("https://github.com/prajwalkarnik08");
}
h1{
    text-align: center;
    margin-top: 100px;
}
.linkedIn{
    width: 100px;
    padding: 19px;
    margin-left: 45%;
}
nav{
    text-align: center;
    margin-top: 40px;
}
nav a{
    font-family: Helvetica;
    font-size: 36px;
    text-decoration: none;
    width: 7px;
    color: green;
}
nav a:hover{
    color: red;
}

